body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#police-name {
    color: white;
    font-size: 16px;
    margin-left: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the background color and transparency */
    border-radius: 5px; /* Optional: Add rounded corners */
}


header {
    background-color: #554848;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 20px auto;
}

.scan-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #2200ff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
